{% extends "base.html" %}
{% block announce %}
<a href="/events/workshops/2024/02/13/g-adopt-workshop-2024/">2024 G-ADOPT Workshop</a>: 10-12 November 2024 at the ANU's Kioloa Coastal Campus - schedule now live!
{% endblock %}
{% block content %}
{% if page.nb_url %}
<a href="{{ page.nb_url }}" title="Download notebook" class="md-content__button md-icon">{% include ".icons/material/download.svg" %}</a>
{% endif %}
{{ super() }}
{% endblock content %}
{% block scripts %}
{{ super() }}
{% if not "tutorials" in page.url %}
{% for script in config.extra.mathjax %}
{{ script | script_tag }}
{% endfor %}
{% endif %}
{% endblock scripts %}
