site_name: G-ADOPT
site_url: https://gadopt.org/
repo_name: g-adopt
repo_url: https://github.com/g-adopt/g-adopt
theme:
  name: material
  custom_dir: overrides
  logo: 'images/g_logo.svg'
  favicon: 'images/favicon.ico'
  icon:
    repo: fontawesome/brands/github
  features:
    - announce.dismiss
    - content.code.copy
    - navigation.indexes
    - navigation.tabs
    - toc.integrate
markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - md_in_html
  - meta
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.details
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - toc:
      toc_depth: 3
extra_css:
  - stylesheets/gadopt.css
extra:
  mathjax:
    - javascripts/mathjax.js
    - https://polyfill.io/v3/polyfill.min.js?features=es6
    - https://unpkg.com/mathjax@3/es5/startup.js
  analytics:
    provider: google
    property: G-E8ZDKFN2BR
plugins:
  - blog:
      blog_dir: events/workshops
      post_readtime: false
      archive: false
  - literate-nav:
      nav_file: CONTENTS.md
      implicit_index: true
  - glightbox
  - mkdocstrings:
      handlers:
        python:
          paths: [g-adopt]
          options:
            show_root_heading: true
            show_root_full_path: false
            docstring_style: google
            merge_init_into_class: true
            members_order: source
          import:
            - https://fenics.readthedocs.io/projects/ufl/en/latest/objects.inv
  - mkdocs-jupyter:
      toc_depth: 2
      custom_mathjax_url: "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-AMS_CHTML-full,Safe"
      include_source: True
  - gen-files:
      scripts:
        - scripts/gen_api_pages.py

nav:
  - Home:
      - index.md
      - About: about.md
  - Install: install.md
  - Documentation:
      - documentation/index.md
      - documentation/dev.md
      - API: documentation/api/
  - Tutorials: tutorials/
  - Team: team.md
  - Funding: funding.md
  - Events:
      - events/workshops/index.md
      - events.md
  - Publications: publications.md
  - Contact: contact.md
