site_name: G-ADOPT
site_url: https://gadopt.org/
repo_name: g-adopt
repo_url: https://github.com/g-adopt/g-adopt
theme:
  name: material
  custom_dir: overrides
  icon:
    repo: fontawesome/brands/github
  features:
    - announce.dismiss
    - content.code.copy
    - navigations.indexes
    - navigation.tabs
    - toc.integrate
markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.snippets
  - pymdownx.superfences
  - toc:
      toc_depth: 3
extra_css:
  - stylesheets/gadopt.css
plugins:
  - blog:
      blog_dir: events/workshops
      post_readtime: false
      archive: false
  - glightbox
  - mkdocstrings:
      handlers:
        python:
          paths: [g-adopt]
          options:
            show_root_heading: true
            show_root_full_path: false
            docstring_style: google
            merge_init_into_class: true
nav:
  - Home:
      - index.md
      - About: about.md
  - Install: install.md
  - Documentation: documentation.md
  - Tutorials: tutorials.md
  - Benchmarks: benchmarks.md
  - Team: team.md
  - Funding: funding.md
  - Events:
      - events/workshops/index.md
      - events.md
  - Publications: publications.md
