site_name: G-ADOPT
site_url: https://gadopt.org/
repo_name: g-adopt
repo_url: https://github.com/g-adopt/g-adopt
theme:
  name: material
  icon:
    repo: fontawesome/brands/github
  features:
    - content.code.copy
    - navigation.tabs
    - toc.integrate
markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.snippets
  - pymdownx.superfences
  - toc:
      toc_depth: 3
extra_css:
  - stylesheets/gadopt.css
nav:
  - Home:
      - index.md
      - About: about.md
  - Install: install.md
  - Documentation: documentation.md
  - Tutorials: tutorials.md
  - Benchmarks: benchmarks.md
  - Team: team.md
  - Funding: funding.md
  - Events: events.md
  - Publications: publications.md
